このプロジェクトは、さまざまな言語モデルを総合的に比較するための情報を提供し、さらにその Web ビューワーも提供します。

## ファイル構造

- models/: 言語モデルのデータセットディレクトリ
    - [modelId]/: モデルの ID を持つ。
        - `meta.json`: モデルの静的なデータが含まれます。これには、モデル名、作成者、公開日、トークンの上限などが含まれます。
        - このほかにも`score-*.json`はたくさんありますが、自動的に生成されます。
- models/: 言語モデルのデータセットディレクトリ
    - [modelId]/: モデルの ID を持つ。
        - providers/: プロバイダごとの情報。例えば、オープンソースモデルである LLaMA は、さまざまな API で提供されます。性能などはどのプロバイダでも同じなため `models` に置かれますが、料金などはプロバイダによって異なるため、API などの情報は `providers` に置きます。
            - [providerId]/: プロバイダの ID を持つ。例えば、`openai` や `gemini-api`。
                - `meta.json`: 提供された基本的な情報。これは、使用しているモデル ID などが含まれます。
                - `pricing.json`: 料金。
- schema/: 以上の JSON の型を定義する JSON Schema。
- scripts/: JSON の自動生成スクリプトなど。
- web/: Solid.js で作られた Web ビューワー

## 環境

JavaScript ランタイム/パッケージマネージャーには、Deno を用いています。
npm からインストールする場合、`deno add npm:<package>`のようにします。
