@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin '@egoist/tailwindcss-icons';
@import 'uchu-tailwind';

body {
  font-family: 'Inter var', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --breakpoint-xs: 30rem;
}
